table {
  border-collapse: collapse;
  margin-bottom: 20px;
}
table tbody tr:first-child td {
  font-weight: bold;
}
td {
  border: 1px  solid white;
  padding: 10px 40px;
  border-left: none;
  border-right: none;
  transition: 1s;
}
td:not( :last-child) {
  background: #D8E6F3;
}
td.heading {
  background-color: #313454;
  color: white;
  border: none;
}
td:hover:not( :last-child) {
  border-bottom: 1px solid black;
}
.btns_td {
  border: none;
  padding: 10px 10px;
}
form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
button {
  margin-left: 10px;
}
.inputs_block {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.inputs_block input:not(:last-child) {
  margin-bottom: 20px;
}
.inputs_block .input_name,
.inputs_block .input_second_name,
.inputs_block .input_age {
  border: none;
  border-bottom: 1px solid gray;
}
.inputs_block .input_name:focus,
.inputs_block .input_second_name:focus,
.inputs_block .input_age:focus {
  outline: none;
}
.edit_user_btn,
.delete_user_btn {
  border: none;
  background: none;
}
.fa {
  transition: 1s;
  font-size: 18px;
}
.fa:hover {
  transform: scale(1.3);
}
.fa-times {
  color: tomato;
}
.raz {
  -moz-appearance: textfield;
}
.raz::-webkit-inner-spin-button {
  display: none;
}
